@font-face
   font-family: "CircularStd_Book"
   src: url("fonts/CircularStd-Book.otf") format("opentype")

//@font-face
//   font-family: "CircularStd_Bold"
//   src: url("fonts/CircularStd-Bold.otf") format("opentype")

$font-stack: 'CircularStd_Book', 'Open Sans', sans-serif

$base-colour: #FFFFFF
$dark-base-colour: #fff7e8

$primary-colour: #EFF1EE
$secondary-colour: #5D6C76
$tertiary-colour: #cfffe2

$header-height: 2em


@mixin animation($str)
   animation: #{$str}
   -webkit-animation: #{$str}
   -moz-animation: #{$str}
   -o-animation: #{$str}

@mixin transition($str)
   transition: #{$str}
   -webkit-transition: #{$str}
   -moz-transition: #{$str}
   -o-transition: #{$str}

@mixin border-radius($str)
   -webkit-border-radius: $str
   -moz-border-radius: $str
   border-radius: $str

/**** Testing Ifs ****/

$show-div-borders: false
$show-project-listing-borders: false

@if $show-div-borders
   div
      border: 1px solid black

@if $show-project-listing-borders
   .listing-item
      border: 1px solid grey

/**************************************/
/**************************************/

html
   width: 100%
   margin: 0 0 0 0

   font-family: $font-stack
   background-color: $base-colour

   a
      text-decoration: none
      color: $secondary-colour

#content
   position: absolute
   top: 0
   left: 0
   width: 100%
   height: 100%
   margin: ($header-height + 3em) 0em .5em 0em
   color: $secondary-colour

button
   padding: 7px 10px
   background: $base-colour
   color: $secondary-colour
   border: 1px solid $secondary-colour
   @include border-radius(25px)


/************/
/** Header **/
/************/

header
   position: fixed
   width: 100%
   height: $header-height
   top: 0
   left: 0
   padding: 1em

   background-color: $primary-colour
   color: $secondary-colour

   z-index: 99900

   div
      float: left

#logo-container
   width: 48%
   margin: 0 auto
   text-align: center

   h1
      z-index: 999999
      background-color: transparent
      margin: 0
      text-transform: uppercase

#media-icon-container
   width: 25%
   text-align: right
   padding-top: 5px

#about-container
   width: 25%
   text-align: left
   padding-top: 8px
   text-transform: lowercase



/***********/
/** Pages **/
/***********/

#project-page-container
   text-align: center

#view-description-btn
   &:hover
      background-color: $tertiary-colour

#about-page-container
   text-align: center




/*********************/
/** Project-Listing **/
/*********************/

.listing-item
   position: relative
   float: left
   margin: .5em .8em
   width: 31%

   .listing-item-title, button, .listing-item-text-separator, .listing-item-description
      position: absolute
      margin: auto
      text-align: center
      opacity: 0

   .listing-item-title
      width: 100%
      top: 20%
      font-size: 2em

   .listing-item-text-separator
      top: 34%
      left: 49%
      border: 1px solid $secondary-colour
      //opacity: 1
      width: 3px
      height: 3px
      background-color: $secondary-colour
      @include border-radius(500px)

   .listing-item-description
      width: 100%
      top: 41%

   &:hover
      background-color: $tertiary-colour

      .listing-item-title, button, .listing-item-text-separator, .listing-item-description
         opacity: 1

.project-listing-image-container
   z-index: 1

   img
      width: 100%

   &:hover
      opacity: 0.1
      filter: blur(1px)
      -webkit-filter: blur(1px)





/********************************/
/*** Animations & Transitions ***/
/********************************/

/** https://scotch.io/tutorials/animating-angularjs-apps-ngview **/
// Ng-enter/leave-active defines where the transition goes.

@keyframes fadeAndSlideFromRight
   from
      opacity: 0
      transform: translateX(100%)
   to
      opacity: 1

@keyframes fadeAndSlideFromLeft
   from
      opacity: 0
      transform: translateX(-100%)
   to
      opacity: 1

@keyframes fadeInFromLeft
   from
      opacity: 0
      transform: translateX(100%)
   to
      opacity: 1

@keyframes fadeOutToRight
   to
      opacity: 1
      transform: translateX(100%)

@keyframes fadeOutToLeft
   to
      opacity: 1
      transform: translateX(-100%)


.about.ng-enter
   @include animation(fadeAndSlideFromLeft 1s ease)
.about.ng-leave
   @include animation(fadeOutToLeft 1s ease)


.project.ng-enter
   @include animation(fadeAndSlideFromLeft 1s ease)
.project.ng-leave
   @include animation(fadeOutToLeft 1s ease)


.project-listing.ng-enter
   @include animation(fadeInFromLeft 1s ease)
.project-listing.ng-leave
   @include animation(fadeOutToRight 1s ease)

.fadeInOut
   @include transition(all 0.3s ease)
