@font-face
    font-family: "CircularStd_Book"
    src: url("fonts/CircularStd-Book.otf") format("opentype")

//@font-face
//   font-family: "CircularStd_Bold"
//   src: url("fonts/CircularStd-Bold.otf") format("opentype")

$font-stack: 'CircularStd_Book', 'Open Sans', sans-serif

$base-colour: #FFFFFF
$dark-base-colour: #fff7e8

$primary-colour: #EFF1EE
$secondary-colour: #5D6C76
$tertiary-colour: #cfffe2
$darker-text-colour: #1a1e24

// Ensure this array length matches mod value in view
$project-listing-colours: #96d4ff, #ff9d91, #fff17c, #98eb94

$header-height: 4em

$modal-opacity: 0.98
$modal-colour: #33957a

@mixin animation($str)
    animation: #{$str}
    -webkit-animation: #{$str}
    -moz-animation: #{$str}
    -o-animation: #{$str}

@mixin transition($str)
    transition: #{$str}
    -webkit-transition: #{$str}
    -moz-transition: #{$str}
    -o-transition: #{$str}

@mixin border-radius($str)
    -webkit-border-radius: $str
    -moz-border-radius: $str
    border-radius: $str

@mixin box-sizing($box-model)
    -webkit-box-sizing: $box-model
    -moz-box-sizing: $box-model
    box-sizing: $box-model


/**** Testing Ifs ****/

$show-div-borders: false
$show-project-listing-borders: false

@if $show-div-borders
    div
        border: 1px solid black

@if $show-project-listing-borders
    .listing-item
        border: 1px solid grey

/**************************************/
/**************************************/

*, *:after, *:before
    @include box-sizing(border-box)

html
    width: 100%
    margin: 0 0 0 0

    font-family: $font-stack
    background-color: $base-colour

a
    text-decoration: none
    color: $secondary-colour
    outline: 0

#content
    top: 0
    left: 0
    width: 100%
    //height: 100%
    margin: ($header-height + 1.5em) 0em .5em 0em
    color: $secondary-colour

button
    padding: 7px 10px
    background: $base-colour
    color: $secondary-colour
    border: 1.5px solid $secondary-colour
    cursor: pointer
    outline: 0
    @include border-radius(25px)

button::-moz-focus-inner
    border: 0

/************/
/** Header **/
/************/

header
    position: fixed
    width: 100%
    height: $header-height
    top: 0
    left: 0
    padding: 1em

    background-color: $primary-colour
    color: $secondary-colour

    z-index: 99900

    div
        float: left

#logo-container
    width: 50%
    text-align: center

    h1
        z-index: 999999
        background-color: transparent
        margin: 0
        text-transform: uppercase

#media-icon-container
    width: 25%
    text-align: right
    padding-top: 5px

#about-container
    width: 5%
    min-width: 45px
    text-align: left
    padding-top: 8px
    text-transform: lowercase

    #about-container-link
        cursor: pointer

#contact-link-container
    width: 20%
    text-align: left
    padding-top: 8px
    text-transform: lowercase

    #contact-link
        cursor: pointer


/***********/
/** Pages **/
/***********/

#project-page-container
    border: 1px solid red
    display: block

    max-width: 95%
    width: 95%
    height: 85vh

    margin: auto

    text-align: center

    button
        font-size: .7em
        text-transform: uppercase

#project-page-information-container
    // Getting absolute container to fit rest of height needs some thought
    border: 1px solid green
    position: absolute
    width: 20em

#project-page-carousel
    border: 1px solid blue
    max-width: 100%
    min-width: 100%

.project-page-image-content-container
    border: 1px solid gold

    max-width: 100%
    min-width: 100%

    .project-page-image-container
        img
            max-width: 100%
            max-height: 80vh // Stops you having to scroll through to see a full image

#view-description-btn
    &:hover
        background-color: $tertiary-colour

#about-page-container
    text-align: center

/*************/
/** Modals ***/
/*************/

.modal
    position: fixed
    width: 100%
    height: 100%
    top: 0
    left: 0
    margin: 0
    padding: 0

    opacity: $modal-opacity
    z-index: 99999
    background-color: $modal-colour
    color: $darker-text-colour

#contact-modal
    opacity: 1

#about-modal-container, #contact-modal-container
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    -moz-transform: translate(-50%, -50%)
    margin-top: -2em

    min-width: 70%
    max-height: 100%

    text-align: center

    h1
        font-size: 2em

    #about-page-content
        font-size: 1.5em
        width: 100%

.modal-close
    position: absolute
    top: 0.1em
    left: 0.8em
    margin: 0
    padding: 0

    cursor: pointer


// Following currently unused
#about-modal-close-button
    position: fixed
    top: 0
    left: 50%
    transform: translateX(-50%)
    margin: 1em auto 0 auto
    padding: .5em
    width: 90%
    text-align: center


    background-color: $modal-colour
    color: $darker-text-colour
    border: 2px solid $darker-text-colour
    text-transform: uppercase

    cursor: pointer

    &:hover
        background-color: $dark-base-colour



/**********/
/** Form **/
/**********/
$form-element-edge-colour: #266850

#contact-form
    max-width: 1050px
    min-width: 300px
    margin: 0 auto

    font-size: 1.1em

    button
        background-color: $modal-colour
        color: $darker-text-colour
        border: 2px solid $form-element-edge-colour
        padding: 1em 1.5em
        text-transform: uppercase

    .form-input-container
        label, input, textarea
            display: block
            width: 100%
            margin: 0 auto
            font-size: 1.1em

        label
            padding: 1em
            text-transform: lowercase

        input, textarea
            background-color: $modal-colour
            text-align: center
            padding: 1vw 1vh
            border: 2px solid $form-element-edge-colour

        textarea
            font-family: inherit
            height: 20vh
            max-height: 25vh
            max-width: 100%




/*********************/
/** Project-Listing **/
/*********************/

// 8 column grid
$grid-cell-width: 200px
$grid-cell-height: 200px

@mixin set_cell_dimensions_width($num_rows)
    width:     ($grid-cell-width * $num_rows)

@mixin set_cell_dimensions_height($num_cols)
    height:     ($grid-cell-height * $num_cols)


.grid-1x1
    @include set_cell_dimensions_width(1)
    @include set_cell_dimensions_height(1)

.grid-1x2
    @include set_cell_dimensions_width(2)
    @include set_cell_dimensions_height(1)

.grid-2x1
    @include set_cell_dimensions_width(1)
    @include set_cell_dimensions_height(2)


.grid-2x2
    @include set_cell_dimensions_width(2)
    @include set_cell_dimensions_height(2)

.grid-3x3
    @include set_cell_dimensions_width(3)
    @include set_cell_dimensions_height(3)



.listing-grid
    //border: 1px solid grey
    margin: 0 auto

    &:after
        content: ''
        display: block
        clear: both

.grid-item
    //border: 1px solid gold
    //float: left
    padding: .2em

.grid-img
    max-width: 100%
    height: 100%









#project-listing-container
    text-align: center

.listing-item-container
    position: relative
    display: inline-block

    padding: .3% .5%

    z-index: 9999

    .listing-item
        position: relative

        &:hover
            .listing-item-text-container, .listing-item-title
                opacity: 1

            .listing-item-image-container
                opacity: 0.05
                filter: blur(1px)
                -webkit-filter: blur(1px)

        .listing-item-text-container
            position: absolute
            width: 100%
            top: 50%
            left: 50%
            transform: translate(-50%, -50%)
            -moz-transform: translate(-50%, -50%)
            margin-top: -1em
            z-index: -1
            opacity: 0
            text-align: center

        .listing-item-title, .listing-item-description
            padding: 0 1em
            margin: 0

        /* todo: Be sure to do more testing on the 'vw' values!! Could cause problems. Word-wrapping properly is probably better option.
        .listing-item-title
            font-size: 1.8vw

        .listing-item-description
            padding: 0 1em
            font-size: 1.1vw

        .listing-item-text-separator
            display: inline-block
            width: 4px
            height: 4px
            margin: 10px 0

            border: 1px solid $secondary-colour
            @include border-radius(500px)
            background-color: $secondary-colour

.listing-item-image-container
    display: block
    z-index: 1
    height: 100%
    width: 100%

    img
        width: 100%
        display: block

// Used for creating series of classes for the different on-hover background colours on project-listing page.
$num: 0
@each $colour in ($project-listing-colours)
    .project-listing-colour-#{$num}
        &:hover
            background-color: $colour
    $num: $num + 1


/********************************/
/*** Animations & Transitions ***/
/********************************/

/** https://scotch.io/tutorials/animating-angularjs-apps-ngview **/
// Ng-enter/leave-active defines where the transition goes.

@keyframes fadeAndSlideFromLeft
    from
        opacity: 0
        transform: translateX(-100%)
    to
        opacity: 1

@keyframes fadeInFromLeft
    from
        opacity: 0
        transform: translateX(100%)
    to
        opacity: 1

@keyframes fadeOutToRight
    to
        opacity: 1
        transform: translateX(100%)

@keyframes fadeOutToLeft
    to
        opacity: 1
        transform: translateX(-100%)

@keyframes modal-fadeIn
    to
        opacity: $modal-opacity

@keyframes modal-fadeOut
    to
        opacity: 0



.project.ng-enter
    @include animation(fadeAndSlideFromLeft 1s ease)
.project.ng-leave
    @include animation(fadeOutToLeft 1s ease)

.project-listing.ng-enter
    @include animation(fadeInFromLeft 1s ease)
.project-listing.ng-leave
    @include animation(fadeOutToRight 1s ease)

.modal.ng-hide-add
    opacity: $modal-opacity
.modal.ng-hide-add-active
    @include animation(modal-fadeOut 0.3s ease)

.modal.ng-hide-remove
    opacity: 0
.modal.ng-hide-remove-active
    @include animation(modal-fadeIn 0.3s ease)


.fadeInOut
    @include transition(all 0.3s ease)
