/* Font stacks */
$font-stack: 'CircularStd_Book', 'Open Sans', sans-serif
$alt-font-stack: 'CircularStd_Bold', 'Open Sans', sans-serif
$header-font-stack: 'Gotham_Medium', 'CircularStd_Bold', 'Open Sans', sans-serif


/* Colours */
$base-colour: #FFFFFF
$dark-base-colour: #fff7e8

$primary-colour: #EFF1EE
$secondary-colour: #5D6C76
$tertiary-colour: #cfffe2
$darker-text-colour: #1a1e24
$header-text-colour: #D1D3D4

$about-modal-colour: #ff7175
$contact-modal-colour: #9fdded

// Ensure this array length matches mod value in view
$colour-palette: #FFE571, #29C780, #FF7175, #C3ADE8, #FFAD94, #9FDDED


/* Structural */
$header-height: 80px
$side-margins: 80px

$mobile-wide: 1000px
$mobile-small: 750px
$mobile-very-small: 500px

$modal-opacity: 0.98


/**** Testing Ifs ****/
$show-div-borders: false
$show-project-listing-borders: false