@import "master.sass"

@media(max-width: $mobile-wide)

    #content
        padding: 70px 20px .5em !important

    header
        padding: 15px 20px 0px
        #title-container
            margin-left: 5px
            h2
                font-size: 30px !important
        #about-contact-container
            h2
                font-size: 30px !important
        #header-colour-trim
            padding-bottom: 47px
        #subtitle-container
            display: none !important
        #contact-link
            margin-left: 20px !important

    #about-modal-container
        #about-page-content
            font-size: 18px !important

    #project-listing-margin
        margin-top: 15px !important
    .project-listing-item-container
        width: 50%
        padding-bottom: 50%
    .project-changer
        display: none !important
    #mobile-project-changer
        display: block !important


    #project-page-information-container
        position: relative
        top: 0
        left: 0 !important
        right: 0 !important
    #project-page-information-content
        margin: 0 !important

    #project-page-title-container
        width: 100% !important
        text-align: center
        font-size: 17px !important
        padding-bottom: 0.75em

    #project-page-description
        width: 100% !important
        padding: 0 14px !important
        max-height: default
        display: inline-block !important
        font-size: 16px !important
        line-height: 25px !important

    #project-page-media
        padding-top: 18px !important

    .project-video-container
        width: 100% !important
    .project-page-image-container
        width: 100% !important


@media(max-width: $mobile-small)
    .project-listing-item-container
        width: 100%
        padding-bottom: 100%

