@import "master.sass"

@media(max-width: $mobile-small)

    #subtitle-container
        display: none !important
    #contact-link
        margin-left: 20px !important

    header
        padding: 15px 20px 0px !important
    #header-colour-trim
        padding-bottom: 36px

    #project-listing-margin
        margin-top: 15px !important
    .project-listing-item-container
        width: 50%
        padding-bottom: 50%
    .project-changer
        display: none !important
    #mobile-project-changer
        display: block !important

    #project-page-title-container
        width: 100%
        text-align: center
    #project-page-information-container
        left: 0 !important
        right: 0 !important
    #project-page-description
        width: 100%
        display: inline-block
    .prev-project-container, .next-project-container
        display: none

    #content
        padding: 50px 20px .5em !important

