
<form id="contact-form" name="contactForm"
      ng-submit="submitContactForm(contactForm.$valid)" novalidate>

    <div class="form-input-container">
        <label class="form-label" for="form-name">Your Name</label>
        <input id="form-name" name="form-name" type="text"
               ng-model="contactFormData.name" />

        <p class="form-error"></p>
    </div>

    <div class="form-input-container">
        <label class="form-label" for="form-email">Your Email</label>
        <input id="form-email" name="form-email" type="email"
               ng-model="contactFormData.email"/>

        <p class="form-error"></p>
    </div>

    <div class="form-input-container">
        <label class="form-label" for="form-subject">Subject</label>
        <input id="form-subject" name="form-subject" type="text"
               ng-model="contactFormData.subject"/>

        <p class="form-error"></p>
    </div>

    <div class="form-input-container">
        <label class="form-label" for="form-message">Message</label>
        <textarea id="form-message" name="form-message"
                  ng-model="contactFormData.message"></textarea>

        <p class="form-error"></p>
    </div>

    <button type="submit">
        Send
    </button>

</form>