<div id="project-listing-container">

    <div class="listing-item" ng-repeat="project in projects">
        <a href="{{project.link}}">
            <div class="fadeInOut">
                <h2 class="listing-item-title">
                    {{project.title}}
                </h2>
                <span class="listing-item-text-separator"></span>
                <h3 class="listing-item-description">
                    {{project.excerpt | extractSurroundingTags:'p'}}
                </h3>
                <button >view</button>
            </div>
            <div class="fadeInOut project-listing-image-container">
                <img src="{{project.featured_image.guid}}" />
            </div>
        </a>
    </div>


</div>