<div id="project-listing-container">

    <div class="listing-item">
        <div class="listing-item-image_container">
            <img src="{{template_directory}}/img/sample-project-listing-image.jpg">
        </div>
    </div>

    <div class="listing-item">
        <div class="listing-item-image_container">
            <img src="{{template_directory}}/img/sample-project-listing-image.jpg">
        </div>
    </div>

    <div class="listing-item">
        <img src="{{template_directory}}/img/sample-project-listing-image.jpg">
    </div>

    <div class="listing-item">
        <div class="listing-item-image_container">
            <img src="{{template_directory}}/img/sample-project-listing-image.jpg">
        </div>
    </div>

    <div class="listing-item">
        <div class="listing-item-image_container">
            <img src="{{template_directory}}/img/sample-project-listing-image.jpg">
        </div>
    </div>

    <div class="listing-item">
        <img src="{{template_directory}}/img/sample-project-listing-image.jpg">
    </div>

    <div class="listing-item">
        <div class="listing-item-image_container">
            <img src="{{template_directory}}/img/sample-project-listing-image.jpg">
        </div>
    </div>

    <div class="listing-item">
        <div class="listing-item-image_container">
            <img src="{{template_directory}}/img/sample-project-listing-image.jpg">
        </div>
    </div>

    <div class="listing-item">
        <img src="{{template_directory}}/img/sample-project-listing-image.jpg">
    </div>


</div>