<div id="project-page-container">

    <div id="project-page-information-container">
        <h1>{{project.title}}</h1>

        <p ng-bind-html="project.description | trustAsHtml"></p>
        <button id="view-description-btn">
            <i class="fa fa-info fa-2x"></i>
            <i class="fa fa-plus"></i>
        </button>

        <a ng-show="project.next_post" href="{{project.next_post}}" >next post</a>
        <a ng-show="project.previous_post" href="{{project.previous_post}}" >previous post</a>

    </div>

    <div id="project-page-carousel">
        <div class="project-page-image-content-container"
             ng-repeat="project_image in project.attachments | orderBy: project_image.order">

            <div class="project-page-image-container">
                <img src="{{project_image.img}}" data-action="zoom" />
            </div>

            <p>{{project_image.caption}}</p>

        </div>

    </div>

</div>