<div id="project-page-container">
    <div id="project-page-information-container" ng-class="{'hide': !showProjectInformation}">
        <a class="prev-project-container project-changer" ng-show="project.previous_post" href="{{project.previous_post}}" >
            <i class="fa fa-angle-left fa-3x"></i>
        </a>

        <div id="project-page-information-content">

            <div id="project-page-title-container" ng-click="toggleProjectInformation()">
                <h1 id="project-page-title" class="{{project_highlight}}">{{project.title}}</h1>
            </div>

            <div id="project-page-description"
                 ng-bind-html="project.description | trustAsHtml"></div>

            <div class="see-more-information" ng-click="toggleProjectInformation()" ng-if="!showProjectInformation">
                <span class="fa fa-circle {{project_highlight}}" ></span>
                <span class="fa fa-circle {{project_highlight}}" ></span>
                <span class="fa fa-circle {{project_highlight}}" ></span>
            </div>

            <span id="title-colour-trim" class="{{projectTitleColour}}" ng-style="{'width': projectTitleWidth+'px' }"></span>
        </div>

        <a class="next-project-container project-changer" ng-show="project.next_post" href="{{project.next_post}}" >
            <i class="fa fa-angle-right fa-3x"></i>
        </a>

    </div>

    <div id="project-page-media">
        <div class="project-page-image-content-container project-image-col-width-{{project_media.column_width && project_media.type == 'image' ? (project_media.column_width || 1) : 2}}"
             ng-repeat="project_media in project.attachments | orderBy: project_media.order">

            <div class="project-video-container project-youtube-video" ng-if="project_media.type == 'video' && (project_media.src.indexOf('.youtube.') > -1)">
                <iframe type="text/html" frameborder="0"
                        ng-src="{{project_media.src + '?origin=www.jordanmuir.co.uk&controls=2&showinfo=0&rel=0&iv_load_policy=3&fs=1' | trustAsResourceUrl}}"></iframe>
            </div>

            <div class="project-video-container project-vimeo-video" ng-if="project_media.type == 'video' && (project_media.src.indexOf('.vimeo.') > -1)">
                <iframe ng-src="{{project_media.src + '?badge=0&byline=0&portrait=0&title=0' | trustAsResourceUrl}}"
                        frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            </div>

            <div class="project-page-image-container" ng-if="project_media.type == 'image'">
                <img src="{{project_media.img}}" data-action="zoom"/>
            </div>

            <p ng-bind="project_media.caption" ng-if="project_media.type == 'image'"></p>
        </div>
    </div>

</div>