<header>
    <div id="title-container">
        <a href="#/">
            <span class="image-center-helper"></span>
            <img src="{{template_dir}}/img/jordanmuir_img.svg">
        </a>
    </div>

    <div id="about-link-container" ng-click="aboutModal.openModal()">
        <span class="image-center-helper"></span>
        <img src="{{template_dir}}/img/about_img.svg">
    </div>
    <div id="contact-link-container" ng-click="contactModal.openModal()">
        <span class="image-center-helper"></span>
        <img src="{{template_dir}}/img/contact_img.svg">
    </div>

</header>