<header>
    <div id="header-content">
         <div id="title-container">
            <a href="#/">
                <h2>Jordan Muir</h2>
            </a>
        </div>

        <span id="header-colour-trim" class="{{projectTitleColour}}"
              ng-style="{'width': projectTitleWidth+'px' }"></span>

        <div id="about-contact-container" >
            <h2 id="about-link" ng-click="aboutModal.openModal()">About</h2>
            <h2 id="contact-link" ng-click="contactModal.openModal()">Contact</h2>
        </div>
    </div>
</header>